<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Login Page</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <style media="screen">
      /* Your CSS styles */
    </style>
</head>
<body>
    <!-- Your background shapes -->
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <!-- Your login form -->
    <form method="post">
        <h3>Login Here</h3>
        {% csrf_token %} 
        <label for="username">Username</label>
        <input type="text" placeholder="Enter Username" id="username" name="username">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="pass">

        <button type="submit">Log In</button>
        <!-- Voter Login button -->
        <a href="{% static 'voter_login.html' %}" class="voter-login-button">Voter Login</a>
        
        <!-- Signup link -->
        <a href="{% url 'signup' %}">Create an account</a>
    </form>
</body>
</html>
